.large-image-container {
  margin: auto;
  position: fixed;
  width: 55%;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.267);
  background-color: white;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border-radius: 24px;
}
.large-image-container .large-image-info {
  flex: 1 200px;
}
.large-image-container img {
  width: 60%;
  border-radius: 24px;
}
.large-image-container h4 {
  font-family: var(--fonts-primary);
}
.large-image-container .share-links a{
    border: 1px solid var(--color-fivth);
}
.large-image-container .share-links a:hover{
    background-color: var(--color-fivth);
}

@media screen and (max-width: 768px) {
  .large-image-container {
    width: 80%;
  }
  .large-image-container img {
    flex: 1 300px;
  }
  .large-image-container .large-image-info {
    display: none;
  }
}
