a {
  text-decoration: none;
}
.languageContainer {
  height: 500px;
  width: 800px;
  padding: 16px 24px;
  padding-top: 0;
  border-radius: 16px;
  box-shadow: 0 0 20px var(--color-fivth);
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  z-index: 999;
  transition: all 0.4s ease-in-out;
}
.languageContainer h1 {
  font-family: var(--fonts-primary);
}

.languageContainer .language {
  border: 1px solid transparent;
  font-family: var(--fonts-secondary);
}
.languageContainer .language:active {
  border: 1px solid var(--color-black);
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 900px) {
  .languageContainer {
    width: 80%;
  }
}

.toggleDiv {
  position: absolute;
  top: 64px;
  right: 24px;
  width: 280px;
  border-radius: 8px;
  background-color: var(--color-primary);
  z-index: 4;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--color-fivth);
  padding: 8px;
  box-shadow: 0 0 20px var(--color-fivth);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.top {
  width: 100%;
  border-bottom: 1px solid var(--color-fivth);
  padding-bottom: 8px;
}
.bottom {
  width: 100%;
  opacity: 0.75;
}
.top p,
.bottom p {
  position: relative;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  font-family: var(--fonts-primary);
}
.toggleDiv p:hover {
  cursor: pointer;
  background-color: var(--color-fivth);
}
.toggleDiv .dot {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  position: absolute;
  top: 8px;
  left: 116px;
  background-color: var(--color-secondary);
}

.translated {
  transition: 0.3s ease-out;
  display: flex;
}

.nav-container {
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 8px 24px;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 14px 24px var(--color-fivth);
}
.media-nav {
  display: none;
}

/* upper navbar */
.upper-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-nav img {
  width: 1em;
}

.assets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 70%;
}

.upper-nav > img {
  width: 6em;
  /* border: 1px solid var(--color-black); */
}

.upper-nav .assets a {
  font-size: 0.95em;
  font-family: var(--fonts-secondary);
  color: var(--color-tertary);
  border-radius: 999px;
  font-weight: 600;
  padding: 12px;
}

.assets a:hover {
  background-color: var(--toggle-btn);
  color: var(--color-black);
}

.assets .stays {
  color: var(--color-black) !important;
  font-weight: bold !important;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.profile a {
  font-size: 0.8em;
  width: 148px;
  color: var(--color-black);
  font-family: var(--fonts-primary);
  font-weight: bold;
  text-align: center;
  padding: 12px;
  border-radius: 999px;
}

.profile > img {
  width: 2em;
  padding: 6px;
  border-radius: 999px;
  cursor: pointer;
}

.profile > img:hover {
  background-color: var(--toggle-btn);
}

.profile a:hover {
  background-color: var(--toggle-btn);
}

.profile .profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 999px;
  border: 1px solid var(--color-fivth);
  padding: 10px;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.profile-icon:active {
  border: 1px solid var(--color-black);
}

.profile-icon img {
  width: 1em;
}

.profile-icon .img02 {
  width: 1.4em;
}

.profile-icon:hover {
  box-shadow: 0 2px 4px var(--color-fivth);
}

/* below navbar */
.below-nav,
.bottom-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-nav {
  padding-top: 8px;
}
.below-nav {
  border-bottom: 1px solid var(--color-fivth);
  padding-block: 8px;
}

.below-nav .tab-bar {
  width: 847px;
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--fonts-primary);
  border: 1px solid var(--color-fivth);
  box-shadow: 0 5px 4px var(--toggle-btn);
  border-radius: 999px;
  overflow: hidden;
}

.tab-bar .tab-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  border-radius: 999px;
  padding-inline: 12px;
}

.tab-boxes:hover {
  background-color: var(--color-fivth);
  cursor: pointer;
}

.tab-boxes:hover::after {
  opacity: 0;
}

.minibox {
  width: 100%;
  padding: 14px 24px;
}

.tab-boxes::after {
  content: "";
  height: 24px;
  border: 1px solid var(--color-forth);
}

.tab-bar .tab-search-box::after {
  opacity: 0;
}

.tab-bar .destination-box {
  width: 30%;
}
.tab-bar .tab-search-box {
  width: 45%;
  display: flex;
  justify-content: space-between !important;
}
.tab-bar p {
  font-size: 0.85em;
  color: var(--color-tertary);
}

.tab-bar h3 {
  margin-bottom: 4px;
  font-size: 0.75em;
}

.tab-boxes img {
  width: 4em;
  background-color: var(--color-secondary);
  padding: 16px;
  border-radius: 999px;
  color: var(--color-primary);
  border: 1px solid transparent;
  transition: border 0.2s ease-in-out;
}

.tab-boxes img:hover {
  cursor: pointer;
  border: 1px solid var(--color-black);
}

/* bottom navigation */
.bottom-nav {
  justify-content: space-between;
}

.bottom-nav img {
  width: 3em;
}

.bottom-nav .buttons {
  width: 30%;
  font-size: 0.8em;
  font-family: var(--fonts-primary);
  color: var(--color-black);
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
  gap: 8px;
  box-shadow: -16px 0px 12px 4px var(--color-primary);
}

.buttons .filter,
.buttons .toggle-btn {
  cursor: pointer;
  border: 1px solid var(--color-fivth);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
}
.buttons .filter {
  width: 96px;
}
.buttons .toggle-btn {
  width: 198px;
}
.buttons .filter img {
  width: 1.4em;
}

.icons-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Hide the scrollbar */
.icons-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.icons-container .icon {
  padding: 4px;
  font-size: 0.8em;
  font-family: var(--fonts-primary);
  color: var(--color-tertary);
  cursor: pointer;
  border-bottom: 2px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  transition: all 0.35s ease-in-out;
}

.icons-container .visited {
  color: var(--color-black);
  border-bottom: 2px solid var(--color-black);
}

.icons-container .visited img {
  opacity: 1;
}

.icon img {
  width: 1.6em;
  opacity: 0.6;
}

.icon:hover img,
.icon:hover p {
  opacity: 1;
  color: var(--color-black);
}

.icon:hover {
  border-bottom: 2px solid var(--color-black);
}

/* cards container */
.cards {
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  padding: 18px 24px;
  margin-bottom: 92px;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  padding-bottom: 14px;
  cursor: pointer;
  border-radius: 16px;
}

.card:hover {
  background-color: var(--color-fivth);
}

.card .img-container {
  position: relative;
  margin-bottom: 8px;
}

.img-container .product {
  width: 100%;
  border-radius: 16px;
}

.card button {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 6px;
  letter-spacing: 1px;
  border-radius: 999px;
  background-color: var(--color-primary);
  color: var(--color-black);
  border: 1px solid var(--color-fivth);
  font-weight: bold;
}

.img-container .like-btn {
  width: 2em;
  backdrop-filter: blur(10px);
  background-color: rgba(206, 206, 206, 0.116);
  border-radius: 999px;
  padding: 8px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.card .information {
  width: 100%;
  font-family: var(--fonts-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;
}

.information p,
.information h4 {
  width: 100%;
  text-align: left;
}

.information p {
  color: var(--color-tertary);
}

.information h5 {
  font-size: 1em;
  position: absolute;
  top: 2px;
  right: 2px;
}

/* footer */
.Map {
  position: fixed;
  bottom: 76px;
  width: 100%;
  z-index: 999;
  margin: auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .Map {
    display: none;
  }
}

.Map .map-container {
  width: 156px;
  border-radius: 999px;
  padding: 8px;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: transform 0.2s ease-out;
  box-shadow: 0 0 22px -10px var(--color-black);
}

.map-container p {
  color: var(--color-primary);
  font-family: var(--fonts-secondary);
}

.map-container img {
  width: 1.8em;
  background-color: var(--color-primary);
  padding: 2px;
  border-radius: 999px;
}

.map-container:hover {
  cursor: pointer;
  transform: scale(1.11);
}

.footer {
  width: 100%;
  background-color: var(--color-primary);
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 18px 24px;
  border-top: 1px solid var(--color-fivth);
  font-family: var(--fonts-primary);
}

.left-footer,
.right-footer {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.left-footer {
  justify-content: flex-start;
}

.right-footer {
  gap: 8px;
  justify-content: flex-end;
}

.left-footer p,
.right-footer p {
  font-size: 0.78em;
  color: var(--fonts-secondary);
  padding-inline: 8px;
}
.left-footer p {
  padding-inline: 3px;
}

.footer p:not(.dot):hover {
  text-decoration: underline;
  text-decoration-color: var(--color-black);
  cursor: pointer;
}

.right-footer img {
  width: 1.6em;
}
.media-footer {
  display: none;
}

/* media responsiveness query */
@media (max-width: 940px) {
  .Map {
    bottom: 88px;
  }
  .card {
    width: 340px;
  }
  .nav-container .assets {
    display: none;
  }
  .media-nav {
    display: none;
  }
}

@media (max-width: 800px) {
  .nav-container .upper-nav {
    display: none;
  }
  .nav-container .below-nav {
    display: none;
  }
  .nav-container .bottom-nav .buttons {
    display: none;
  }
  .media-nav {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--color-primary);
    padding: 4px 2px;
    cursor: pointer;
  }
  .media-nav .nav-search {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
    border-radius: 999px;
    border: 1px solid var(--color-fivth);
    padding: 12px 16px;
    font-family: var(--fonts-secondary);
    box-shadow: 0 14px 40px var(--color-fivth);
  }
  .media-nav img {
    width: 2.4em;
    padding: 8px;
  }
  .nav-search p {
    font-size: 0.85em;
  }
  .nav-search h3 {
    font-size: 0.95em;
  }
  .search-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .nav-search p {
    color: var(--color-forth);
  }
  .media-nav > img {
    border-radius: 0px;
    border: 1px solid var(--color-forth);
    border-radius: 999px;
  }

  /* footer */
  .footer {
    display: none;
  }
  .media-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-fivth);
  }
  .media-footer .footer-icon {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-family: var(--fonts-primary);
    font-size: 0.85em;
    opacity: 0.66;
    transition: opacity 0.2s ease-in-out;
  }
  .footer-icon:hover {
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
  }
  .footer-icon:hover p {
    color: var(--color-secondary);
  }
  .footer-icon img {
    width: 1.4em;
  }
}
